header{
    height: 100vh;
    background: #F173A9 url("../img/hero_bg_2.jpg");
    color: white;
    .title-bloc {
        text-align: center;
        
    }
    .text-light {
        position: absolute;
        top: 95%;
    }
}