// SECTION 2 //
#title_section2, #title_section3 {
    padding: 6rem 0;
}
.i_section2 {
    font-size: 200%;
    color: #ffb3b3;
    padding: 2rem;
}
#card_section2, #card_section3 {
    box-shadow: 0px 9px 45px -4px rgba(0,0,0,0.52);
    margin-bottom: 5rem;
}
.fa-dot-circle {
    color: #ff7676;
}
// SECTION 2 //

// SECTION 3 
.like_dislike{
    color: #ff7676;
}

// SECTION 3

