// SECTION 2 //
#title_section2, #title_section3 {
    padding: 6rem 0;
}
.i_section2 {
    font-size: 200%;
    color: $section2-color;
    padding: 2rem;
}
#card_section2, #card_section3 {
    box-shadow: 0px 9px 45px -4px rgba(0,0,0,0.52);
    margin-bottom: 5rem;
}
.fa-dot-circle {
    color: $saumon-color;
}
// SECTION 2 //

// SECTION 3 
#section3 {
    background-color: $saumon-color;
}
.like_dislike{
    color: $saumon-color;
}
.btn{
    padding: 1.2rem 5rem;
}
.img-section3 {
    max-height: 10rem;
}
// SECTION 3

// SECTION 4 //
#section4 {
    background-color: #f5f5f5;
}
.card-color-section4 {
    color: $saumon-color;
}
// SECTION 4 //

// FOOTER //
.card-color-footer {
    color: $saumon-color;
}


